.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 10px;
}

.dialog-body h2 {
  width: 100%;
  text-align: left;
  color: #06283d;
}

.dialog-body h3 {
  color: #06283d;
}

.dialog-divideLine {
  width: 100%;
  border-top: 1px solid #ccc;
  margin: 1rem;
}

.dialog-btn-container {
  width: 70%;
  padding: 0.6rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.dialog-btn {
  border: none;
  font-size: large;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}
